.parent {
    width: 370px;
    height: 100px;
    border: solid 10px black;
}

.width-auto-div {
    background-color: blue;
    width: auto;
}

.width-100-div {
    background-color: green;
    width: 100%;
}

body {
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
    margin: 10px;
}

.child-border {
    border: solid 20px red;
    height: 60px;
}

.child-padding{
    padding-left: 40px;
    height: 100px;
}

.child-margin{
    margin-left: 40px;
    height: 100px;
}
