.parent {
    width: 500px;
    height: 150px;
    border: solid 10px black;
  }
  
  .red-border{
    border: solid 20px red;
  }
  
  .width-auto-div {
      background-color: blue;
      width: auto;
  }
  
  .width-100-div {
      background-color: green;
      width: 100%;
  }
  