.parent {
    width: 500px;
    height: 150px;
    border: solid 10px black;
  }
  
  .my-border{
    border: solid 20px red;
  }
  
  .my-blue {
      color: blue;
  }
  
  .my-green {
      color: green;
  }
  